@(  implicit request: Http.Request,
    partialName: String,
    editStop: entities.Stop,
    name: String,
    lat: Double,
    lng: Double,
    errors: Map[String, String],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, if(editStop==null){"Create Stop"}else{"Edit Stop"}, user, gtfsConfigs, gtfs) {
} {
    <script src='@routes.Assets.versioned("javascripts/stopEdit.js")'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=@utils.Config.get(utils.Config.Option.MAPS_KEY)&callback=initMap' async></script>
    <div class="row">
        <div class="col-lg-6">
            @form(request, if(editStop==null){routes.TopologyController.stopsCreatePost(gtfs.getCode)}else{routes.TopologyController.stopsEditPost(gtfs.getCode, partialName, editStop.getId)}) {
                @formInputText("Name", "name", name, errors, 10, 12, 12)
                @formInputText("Position", "latlng", if(lat != null && lng != null ){s"$lat,$lng"}else{""}, errors, 10, 12, 12)
                <div class="mt-3"></div>
                @formButtons(if(editStop==null){"Create"}else{"Save"}, if(editStop==null){routes.TopologyController.stopsSearch(gtfs.getCode)}else{routes.TopologyController.stopsList(gtfs.getCode, partialName)})
                <div class="mt-3"></div>
            }
        </div>
        <div class="col-lg-6">
            <div id='mapCanvas' style='height: 600px;'></div>
        </div>
    </div>
}