@(	request: Http.Request,
    partialName: String,
    errors: Map[String, String],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Stops", user, gtfsConfigs, gtfs) {
} {
    @if(gtfs.isEditable) {
    <a href="@routes.TopologyController.stopsCreate(gtfs.getCode)">Create new stop...</a>
    }
    @form(request, routes.TopologyController.stopsSearchPost(gtfs.getCode)) {
        <div class="row mt-4">
            <div class="col-xl-6 col-lg-5 col-md-8">
                @formInputText("Name", "partialName", partialName, errors, xlWidth=9, lgWidth=8, mdWidth=6)
            </div>
            <div class="col-xl-6 col-lg-7 col-md-4">
                @formButtons("Search")
            </div>
        </div>
    }
}