@(  implicit request: Http.Request,
    partialName: String,
    edge: entities.Edge,
    errors: Map[String, String],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Edit Edge", user, gtfsConfigs, gtfs) {
} {
    @form(request, routes.TopologyController.edgeEditPost(gtfs.getCode, partialName, edge.getNormalizedName())) {
        @formInputText("Time", "time", utils.StringUtils.formatSeconds(edge.getTypicalTime), errors)
        <div class="mt-3"></div>
        @formButtons("Save", routes.TopologyController.edgesList(gtfs.getCode, partialName))
    }
}