@(	request: Http.Request,
    edges: List[_ <: entities.Edge],
    user: entities.User,
)

@template(request, "Topology Edges", user) {
} {
    <table class="dataTable" data-paging="false" data-ordering="false">
        <thead>
            <tr>
                <th>Stop 1</th>
                <th>Stop 2</th>
                <th>Duration (hh:)mm:ss</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @for(edge <- edges) {
            <tr>
                <td>@edge.getStop1</td>
                <td>@edge.getStop2</td>
                <td>@utils.StringUtils.formatSeconds(edge.getTypicalTime)</td>
                <td><a href="@routes.TopologyController.edgeEdit(edge.getId())">edit</a> <a href="@routes.TopologyController.edgeDelete(edge.getId())">delete</a> <a href="@routes.TimetableController.edge(edge.getId)">timetable</a></td>
            </tr>
        }
        </tbody>
    </table>

}