@(  implicit request: Http.Request,
    edge: entities.Edge,
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    cc: String,
)

@template(request, edge.getStop1.getName + " - " + edge.getStop2.getName, user, gtfsConfigs, cc) {
} {
    <div class="col-12">
        <table>
            <tbody>
                <tr>
                    <td class="pe-4">
                        Typical time
                    </td>
                    <td>
                        @utils.StringUtils.formatSeconds(edge.getTypicalTime)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 mt-4">
        @if(user != null) {
        <a href="@routes.TopologyController.edgesEdit(cc, edge.getNormalizedName)" class="btn btn-warning">Edit</a>
        <a href="@routes.TopologyController.edgesDelete(cc, edge.getNormalizedName)" class="btn btn-danger">Delete</a>
        }
        <a href="@routes.TimetableController.edge(cc, edge.getNormalizedName)" class="btn btn-primary">View all trains</a>
    </div>
}