@(  implicit request: Http.Request,
    databases: List[configs.GtfsConfig],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Databases", user, gtfsConfigs, gtfs) {

} {
    <table>
        <thead>
            <tr>
                <th style="padding-right: 20px;">Name</th>
                <th style="padding-right: 20px;">First date</th>
                <th>Last date</th>
            </tr>
        </thead>
        <tbody>
        @for(database <- databases) {
            <tr>
                <td style="padding-right: 20px;">@database</td>
                <td style="padding-right: 20px;">@database.getStart</td>
                <td>@database.getEnd</td>
            </tr>
        }
        </tbody>
    </table>
}