@(  implicit request: Http.Request,
    url: String,
    databaseName: String,
    errors: Map[String, String],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Import", user, gtfsConfigs, gtfs) {

} {
    @form(request, routes.DataImportController.importGtfsPost(gtfs.getCode)) {
        @formInputText("URL", "url", url, errors)
        @formInputText("Database Name", "databaseName", databaseName, errors)
        <div class="mt-3"></div>
        @formButtons("Import")
    }
}