html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100%;
}

button.navbar-toggler {
    right: 10px;
}

ul.submenu {
    padding-left: 1rem;
}

ul.submenu li {
    list-style: none !important;
}

header {
    height: 50px;
}