html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100%;
}

button.navbar-toggler {
    right: 10px;
}

nav#sidebarMenu {
    background-color: #f4f4f4 !important;
}

nav a.active {
    font-weight: bold;
}

@media(min-width: 768px) {
    nav#sidebarMenu {
        position: fixed;
        min-height: 100%;
    }
}

ul.submenu {
    padding-left: 1rem;
}

ul.submenu li {
    list-style: none !important;
}

header {
    height: 50px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

span.twitter-typeahead {
    width: 100%;
}

.tt-menu {
    margin-top: 4px;
    padding: 0px 12px 2px 12px;
    background-color: #eff5fe;
}

.tt-suggestion {
    cursor: pointer;
}

tr.modified {
    background-color: #fff3cd !important;
}

span.navbar-brand a {
    color: #ffffff;
}

tr.strikethrough td {
	position: relative;
}
tr.strikethrough td:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 2px solid #ff6666;
	width: 100%;
}
