span.product {
    background-color: #ffffff;
    display: inline-block;
    padding-left: 0.1em;
    width: 4em;
    line-height: 1.2em;
    font-weight: bold;
    border: 1px solid black;
}

span.product.interregio, span.product.ir, span.product.intercity, span.product.ic, span.product.regioexpress, span.product.re, span.product.ec, span.product.eurocity, span.product.intercityexpress, span.product.ice, span.product.railjet {
    background-color: red;
    color: #ffffff;
    font-style:italic;
    border: 1px solid red;
}