span.product {
    background-color: #ffffff;
    display: inline-block;
    padding-left: 2px;
    width: 80px;
    line-height: 22px;
    font-weight: bold;
}

span.product.whitebg.s {
    border: 1px solid black;
}

span.product.interregio, span.product.intercity, span.product.ic, span.product.regioexpress, span.product.eurocity, span.product.intercityexpress, span.product.railjet {
    background-color: red;
    color: #ffffff;
    font-style:italic;
}