@(	implicit request: Http.Request,
    edge: entities.Edge,
    passes: List[entities.realized.RealizedPass],
    pos: Double,
    user: entities.User,
)

@template(request, "Trains between " + edge.getStop1.getName + " and " + edge.getStop2.getName, user) {
    <style>
        td { padding-right: 20px; }
    </style>
} {
    <table>
        <thead>
            <tr>
                <th colspan="3">Train</th>
                <th>@edge.getStop1.getName</th>
                <th></th>
                @if(pos != null) {
                <th>YOU</th>
                <th></th>
                }
                <th>@edge.getStop2.getName</th>
            </tr>
        </thead>
        <tbody>
        <p>
            @if(pos ==null) {
            <a href="@routes.TimetableController.edge(edge.getIdReverse())">&larr;reverse&rarr;</a></p>
            } else {
            <a href="@routes.TimetableController.edgePos(edge.getIdReverse(), 1.0 - pos)">&larr;reverse&rarr;</a></p>
            }
        @for(pass <- passes) {
            <tr>
                <td>
                    @pass.getTrip.getRoute.getShortName
                </td>
                <td style="text-align: right;">
                    @pass.getTrip.getTripShortName
                </td>
                <td>
                    @pass.getTrip.getBegins.getName - @pass.getTrip.getEnds.getName
                </td>
                <td>
                    @if(pass.isForward(edge.getStop1)){ <b>@utils.StringUtils.formatTimeSeconds(pass.get(edge.getStop1).getDeparture)</b> } else { @utils.StringUtils.formatTimeSeconds(pass.get(edge.getStop1).getArrival) }
                </td>
                <td>
                    @if(pass.isForward(edge.getStop1)){&rarr;}else{&larr;}
                </td>
                @if(pos != null) {
                <td style="background-color: @if(pass.isForward(edge.getStop1)){#ffffcc;}else{#ffcccc;} padding-right: 0px;">
                    @utils.StringUtils.formatTimeSeconds(pass.getIntermediate(pass.isForward(edge.getStop1), pos))
                </td>
                <td style="padding-left: 20px;">
                    @if(pass.isForward(edge.getStop1)){&rarr;}else{&larr;}
                </td>
                }
                <td>
                    @if(pass.isForward(edge.getStop1)){ @utils.StringUtils.formatTimeSeconds(pass.get(edge.getStop2).getArrival) } else { <b>@utils.StringUtils.formatTimeSeconds(pass.get(edge.getStop2).getDeparture)</b> }
                </td>
            </tr>
        }
        </tbody>
    </table>
}