@(  implicit request: Http.Request,
    stop: String,
    errors: Map[String, String],
    user: entities.User,
)

@template(request, "Timetable", user) {
    <script src='@routes.Assets.versioned("javascripts/timetable.js")'></script>
} {
    @form(request, routes.TimetableController.indexPost()) {
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-10">
                @formInputText("Stop", "stop", stop, errors, xlWidth=10, lgWidth=8, mdWidth=6)
            </div>
            <div class="col-xl-8 col-lg-6 col-md-2">
                @formButtons("Show Stop")
            </div>
        </div>
    }
}