@(  implicit request: Http.Request,
    stop: String,
    coordinates: String,
    errors: Map[String, String],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    cc: String,
)

@template(request, "Timetable", user, gtfsConfigs, cc) {
    <script id="timetablejs" data-cc="@cc" src='@routes.Assets.versioned("javascripts/timetable.js")'></script>
} {
    @form(request, routes.TimetableController.indexPost(cc)) {
        <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-8">
                @formInputText("Stop", "stop", stop, errors, xlWidth=9, lgWidth=8, mdWidth=6)
            </div>
            <div class="col-xl-6 col-lg-7 col-md-4">
                @formButtons("Show Departures")
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-5 col-md-8">
                @formInputText("Coordinates", "coordinates", coordinates, errors, xlWidth=9, lgWidth=8, mdWidth=6)
            </div>
            <div class="col-xl-6 col-lg-7 col-md-4">
                @formButtons("Show Nearby Trains")
            </div>
        </div>
    }
}