@(  implicit request: Http.Request,
    point: geometry.Point,
    nearbyEdgesLikely: List[entities.NearbyEdge],
    nearbyEdgesUnlikely: List[entities.NearbyEdge],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Timetable", user, gtfsConfigs, gtfs) {
} {
    @if(nearbyEdgesLikely.isEmpty && nearbyEdgesUnlikely.isEmpty) {
        <p>Sorry, there don't appear to be any railway lines near your position./p>
    }
    @if(!nearbyEdgesLikely.isEmpty) {
    <p>There may be more than one railway line near you. Please choose one.</p>
    <p>
        @for(nearbyEdge <- nearbyEdgesLikely) {
            @if(nearbyEdge.getNearbyFactor > 0.1) {
                <a href="@routes.TimetableController.edgePos(gtfs.getCode, nearbyEdge.getEdge.getNormalizedName(), nearbyEdge.getPos)" title="Rating: @String.format("%.2f", nearbyEdge.getNearbyFactor)">@nearbyEdge.getEdge.getStop1.getName - @nearbyEdge.getEdge.getStop2.getName</a><br />
            }
        }
    </p>
    }
    @if(!nearbyEdgesUnlikely.isEmpty) {
    <p>
        Unlikely candidates:<br />
        @for(nearbyEdge <- nearbyEdgesUnlikely) {
            @if(nearbyEdge.getNearbyFactor <= 0.1) {
                <a href="@routes.TimetableController.edgePos(gtfs.getCode, nearbyEdge.getEdge.getNormalizedName(), nearbyEdge.getPos)" title="Rating: @String.format("%.2f", nearbyEdge.getNearbyFactor)">@nearbyEdge.getEdge.getStop1.getName - @nearbyEdge.getEdge.getStop2.getName</a><br />
            }
        }
    </p>
    }
}