@(	departures: List[entities.trans.Departure]
)

@template(title = "Timetable") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/timetable.css")'>
} {
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>To</th>
            <th>Track</th>
        </tr>
    @for(departure <- departures) {
        <tr>
            <td><span class="product @departure.getRoute.getDesc.toLowerCase">@departure.getRoute.getShortName</span></td>
            <td>@departure.getDepartureTime()</td>
            <td>
                @for(stopTime <- departure.getImportantIntermediateStopTimes(4)) {
                <span class="stop">@stopTime.getStop.getName</span>
                }
                @departure.getDestination.getStop.getName
            </td>
            <td>@departure.getTrack</td>
        </tr>
    }
    </table>
}