@(	implicit request: Http.Request,
    stopName: String,
    departures: List[entities.realized.RealizedDeparture],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    cc: String,
)

@template(request, stopName, user, gtfsConfigs, cc, mainClasses="departureBoard") {
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/products.css")'>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/departureBoard.css")'>
} {
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>To</th>
            <th>Track</th>
        </tr>
    @for(departure <- departures) {
        <tr>
            <td><a href="@routes.TimetableController.realizedTrip(cc, departure.getRealizedTrip.getTrip.getTripId, departure.getRealizedTrip.getStartDate.toString)"><span class="product @departure.getRoute.getDesc.toLowerCase">@departure.getRoute.getShortName</span></a></td>
            <td>@departure.getDepartureTimeStr()</td>
            <td>
                @for(stopTime <- departure.getImportantIntermediateStopTimes(4)) {
                <span class="stop">@stopTime.getStop.getName</span>
                }
                @departure.getDestination.getStop.getName
            </td>
            <td>@departure.getTrack</td>
        </tr>
    }
    </table>
}