@(  implicit request: Http.Request,
    email: String,
    name: String,
    password: String,
    errors: Map[String, String],
    user: entities.User,
)

@template(title = "Create User", user) {
} {
    @form(request, routes.AdminController.usersCreatePost()) {
        @formInputText("E-Mail Address", "email", email, errors)
        @formInputText("Name", "name", name, errors)
        @formInputPassword("Password", "password", password, errors)
        @formButtons(routes.AdminController.usersList(), "Create")
    }
}