@(	implicit request: Http.Request,
    users: List[_ <: entities.User],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    gtfs: configs.GtfsConfig,
)

@template(request, "Users", user, gtfsConfigs, gtfs) {
} {
    <a href="@routes.AdminController.usersCreate(gtfs.getCode)">Create new user...</a>
    <table class="dataTable" data-paging="false" data-ordering="false">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- users) {
            <tr>
                <td>@user.getEmail</td>
                <td>@user.getName</td>
                <td><a href="@routes.AdminController.usersEdit(gtfs.getCode, user.getId)">edit</a> <a href="@routes.AdminController.usersDelete(gtfs.getCode, user.getId)">delete</a></td>
            </tr>
        }
        </tbody>
    </table>

}