@(  label: String,
    name: String,
    value: String,
    errors: Map[String, String],
    xlWidth: Integer = 4,
    lgWidth: Integer = 8,
    mdWidth: Integer = 12,
)

<div class="form-group row mb-1">
    <label for="@name" class="col-xl-2 col-lg-4 col-md-6 col-form-label">@label</label>
    <div class="col-xl-@xlWidth col-lg-@lgWidth col-md-@mdWidth">
        <input type="text" class="form-control @if(errors.containsKey(name)){is-invalid}" id="@name" name="@name" value="@value">
        @if(errors.containsKey(name)) {
        <div class="invalid-feedback">@errors.get(name)</div>
        }
    </div>
</div>