@(	implicit request: Http.Request,
    edges: List[_ <: entities.Edge],
    user: entities.User,
    gtfsConfigs: List[configs.GtfsConfig],
    cc: String,
)

@template(request, "Topology Map", user, gtfsConfigs, cc) {
} {
    <div id='mapCanvas' style='height: calc(100vh - 140px);'></div>
    <script src='https://maps.googleapis.com/maps/api/js?v=beta&key=@utils.Config.get(utils.Config.Option.MAPS_KEY)&callback=initMap&libraries=marker' async></script>
    <script>
        var infowindow;
        var map;
        var markers = [];
        var markerCount = 0;
        var closeTimeout;

        const clusterOptions = {
            gridSize: 30,
            maxZoom: 10,
        };

        const myRenderer = {
            render: function() {
                return null;
            },
        };

        var addMarker = function( lat, lng, pictureId ) {
            var marker = new google.maps.Marker({'position': new google.maps.LatLng(lat, lng)});
            markers[markerCount] = marker;
            markerCount++;
        };

        var addEdge = function(map, lat1, lng1, lat2, lng2, label, url) {
            var polyLine = new google.maps.Polyline({
                path: [{lat: lat1, lng: lng1}, {lat: lat2, lng: lng2}],
                strokeColor: "#ff0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            }).setMap(map);

            const labelHtml = document.createElement('div');
            labelHtml.style.color = "red";
            labelHtml.style.backgroundColor = "#ffffff";
            labelHtml.style.fontSize = "16px";
            labelHtml.style.border = "2px solid red";
            labelHtml.style.padding = "2px";
            labelHtml.style.marginBottom = "-14px";
            labelHtml.style.cursor = "pointer";
            labelHtml.textContent = label;

            var marker = new google.maps.marker.AdvancedMarkerView({
                position: new google.maps.LatLng((lat1+lat2)/2, (lng1+lng2)/2),
                content: labelHtml,
            });
            marker.addListener("click", function() { window.location.href=url; });
            markers.push(marker);
        }

        var initMap = function() {
            var mapOptions = {
                zoom: 8,
                gestureHandling: 'greedy',
                center: new google.maps.LatLng(47, 8),
                mapId: 'mymapid',
            }
            var zoom = parseInt(window.localStorage.getItem('topomap-zoom'));
            if (isNaN(zoom)) {
                zoom = 10;
            }
            mapOptions.zoom = zoom;
            var lat = parseFloat(window.localStorage.getItem('topomap-lat'));
            var lng = parseFloat(window.localStorage.getItem('topomap-lng'));
            if (isNaN(lat) || isNaN(lng)) {
                lat = 47;
                lng = 8;
            }

            mapOptions.center = new google.maps.LatLng(lat, lng);

            map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);
            @for(edge <- edges) {
                addEdge(map, @edge.getStop1Coordinates.getLat, @edge.getStop1Coordinates.getLng, @edge.getStop2Coordinates.getLat, @edge.getStop2Coordinates.getLng, "@utils.StringUtils.formatSeconds(edge.getTypicalTime)", "@routes.TopologyController.edgesView(cc, edge.getId)");

                var polyLine = new google.maps.Polyline({
                    path: [
                        {lat: @edge.getBoundingBox().get(0).getLat, lng: @edge.getBoundingBox().get(0).getLng},
                        {lat: @edge.getBoundingBox().get(1).getLat, lng: @edge.getBoundingBox().get(1).getLng},
                        {lat: @edge.getBoundingBox().get(2).getLat, lng: @edge.getBoundingBox().get(2).getLng},
                        {lat: @edge.getBoundingBox().get(3).getLat, lng: @edge.getBoundingBox().get(3).getLng},
                        {lat: @edge.getBoundingBox().get(0).getLat, lng: @edge.getBoundingBox().get(0).getLng},
                    ],
                    strokeColor: "#0000ff",
                    strokeOpacity: 1,
                    strokeWeight: 1,
                }).setMap(map);
            }

            google.maps.event.addListener(map, "tilesloaded", () => {
                window.localStorage.setItem('topomap-zoom', map.getZoom());
                window.localStorage.setItem('topomap-lat', map.getCenter().lat());
                window.localStorage.setItem('topomap-lng', map.getCenter().lng());
                for (var i = 0; i < markers.length; i++) {
                    if(map.getZoom() > 11 && map.getBounds().contains(markers[i].position)) {
                        markers[i].map = map;
                    } else {
                        markers[i].map = null;
                    }
                }
            });

        };
    </script>
}