@(	implicit request: Http.Request,
    edges: List[_ <: entities.Edge],
    user: entities.User,
)

@template(request, "Topology Map", user) {
} {
    <div id='mapCanvas' style='height: calc(100vh - 140px);'></div>
    <script src='https://maps.googleapis.com/maps/api/js?key=@utils.Config.get(utils.Config.Option.MAPS_KEY)&callback=initMap' async></script>
    <script>
        var infowindow;
        var map;
        var markers = [];
        var markerCount = 0;
        var closeTimeout;

        var addMarker = function( lat, lng, pictureId ) {
            var marker = new google.maps.Marker({'position': new google.maps.LatLng(lat, lng)});
            markers[markerCount] = marker;
            markerCount++;
        };

        var addEdge = function(map, lat1, lng1, lat2, lng2) {
            new google.maps.Polyline({
                path: [{lat: lat1, lng: lng1}, {lat: lat2, lng: lng2}],
                strokeColor: "#ff0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            }).setMap(map);
        }

        var initMap = function() {
            var mapOptions = {
                zoom: 8,
                gestureHandling: 'greedy',
                center: new google.maps.LatLng(47,8)
            }
            map = new google.maps.Map(document.getElementById('mapCanvas'), mapOptions);
            @for(edge <- edges) {
                addEdge(map, @edge.getStop1Lat, @edge.getStop1Lng, @edge.getStop2Lat, @edge.getStop2Lng);
            }
        };
    </script>

}